@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jost", serif;
  font-size: 16px;
  line-height: 130%;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 100%;
  padding-inline: 12px;
  margin-inline: auto;
}

.work_on_next {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.active {
  background-color: rgba(84,185,137,1);
  color: #FFFFFF;
}

